{% extends "index1.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} {{form_topic}} {% endcomment %}

        <div class="card shadow ">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Secertary Page</h6>
            </div>
            <div class="card-body">
            <form method="post">
           {% csrf_token %}
            {{form|crispy}}
            <input  type="submit" value="add doctor"/>
            </form>
            </div>
        </div>

{% endblock %}